__pycache__
*.pyc
*.pyo
.idea
**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
Dockerfile.dev
README.md
Note.md
docker-compose.yml
docker-compose.dev.yml
**/.DS_Store
**/venv
**/env
logs
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
cert.crt
cert.key